.sidebar-header {
  display: flex;
  align-items: center;
  padding: 24px 24px 0 24px;
  background-color: #FFFFFF;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #3f51b5;
  border-radius: 8px;
  margin-right: 12px;
}

.logo-container mat-icon {
  color: white;
  font-size: 28px;
  width: 28px;
  height: 28px;
}

.header-text .title {
  font-size: 1.1rem;
  font-weight: 600;
  color: #222;
  display: block;
}

.header-text .subtitle {
  font-size: 0.8rem;
  color: #6c757d;
  /* Un gris sutil */
  display: block;
}