.app-layout {
  display: flex;
  height: 100vh;
  width: 100vw;
}

app-side-nav-bar {
  flex: 0 0 260px;
}

.app-content {
  flex: 1 1 auto;
  overflow: auto;
  padding: 0;
}

.sidebar {
  width: 260px;
  background-color: #FFFFFF !important;
}

.main-content {
  flex: 1;
}