:host {
  display: block;
  height: 100vh; 
  width: 100vw;  
  --gradient-start: #0F172A;
  --gradient-center: #1E293B;
  --gradient-end: #334155;

}

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: linear-gradient(135deg, var(--gradient-start), var(--gradient-center) 35.36%, var(--gradient-end) 70.71%);

}